---
#
---
@charset "utf-8";

$background-color: #f3f3e3;
$background-color-2: #e3e3f3;

$light-green:#9CF5A6;
$light-red: #f59c9f;
$light-blue: #9cbdf5;
$light-orange: #ffc266;
$light-purple: #dc9cf5;



@import "base";