<div class="header">
<div>
	<div class="logo">
		<a href="{{ "/" | prepend: site.baseurl }}">
		{% include logo.svg %}
		</a>
	</div>
</div>
<div class="links">
	<!-- <p><a>projects</a></p> -->
	<div>
		<div class="anim-link"><a href="{{ site.data.links.blog }}">blog</a></div>
	</div>
	<div>
		<div class="anim-link"><a href="{{ site.data.links.bio | prepend: site.baseurl }}">bio</a></div>
	</div>
	<div>
		<div class="anim-link"><a href="{{ site.data.links.cv | prepend: site.baseurl }}">CV</a></div>
	</div>
	<div>
		<div class="anim-link"><a href="#">links</a></div>
	</div>
	<div>
		<div class="social-icons">
			<a href="{{ site.data.links.github }}" class="link-github"><span class="icon-github-square"></span></a>
			<a href="{{ site.data.links.linkedin }}" class="link-linkedin"><span class="icon-linkedin-square"></span></a>
			<a href="{{ site.data.links.twitter }}" class="link-twitter"><span class="icon-twitter-square"></span></a>
			<a href="{{ site.data.links.email }}" class="link-email"><span class="icon-envelope-square"></span></a>
		</div>
	</div>
</div>
</div>