<div class="project-wrapper">
	<div class="project-tabs">
		<div>
			<div class="anim-link"><a href="#projects" class="bolden tag-link bold" onclick="applyFilter('featured')">featured</a></div>
		</div>
		{% for item in site.data.projectinfo.tags %}
		<div>
			<div class="anim-link"><a href="#projects" class="bolden tag-link" onclick="applyFilter('{{ item.tag }}')">{{ item.tag }}</a></div>
		</div>
   		{% endfor %}
	</div>
	<div class="project-columns">
	<a id="projects"></a>
	<div class="project-links">
		<div>
			<div class="anim-link"><a href="#projects" class="bolden tag-link bold" onclick="applyFilter('featured')">featured</a></div>
		</div>
		<div>
			<div class="anim-link"><a href="#projects" class="bolden tag-link" onclick="applyFilter('everything')">everything</a></div>
		</div>
		<br>
		{% for item in site.data.projectinfo.tags %}
		<div>
			<div class="anim-link"><a href="#projects" class="bolden tag-link" onclick="applyFilter('{{ item.tag }}')">{{ item.tag }}</a></div>
		</div>
   		{% endfor %}
	</div>
	<div class="project-titles">
		{% assign pagelist = site.pages | sort: 'number' | reverse %}
		{% for page in pagelist %}
		{% if page.url contains '/project' %}
        <div class="project-link{% if page.tags contains 'featured' %}{%else%} hidden{% endif %}" data-tags="{{ page.tags }}"> 
			<div class="anim-link p-a-link" data-project-id="{{ page.number }}">
        		<span class="link-number">{{ page.number }}</span>
				<a class="bolden" href="{{ page.url }}">{{ page.title }}</a>
			</div>
		</div>
		{% endif %}
	    {% endfor %}
	</div>
	<div class="project-images">
        <div class="img-wrapper thumb-wrapper">
	        	<div class="thumb-image image-box bg-diff" data-project-id="-1">
	        		<div class="box-fill"></div>
	        		<div class="box-content">
	        			<p>hover over a project to see a thumbnail</p>
	        		</div>
	        	</div>
			{% for page in pagelist %}
			{% if page.url contains '/project' %}
				<a class="hide-image thumb-image" href="{{ page.url | prepend: site.baseurl}}" data-project-id="{{ page.number }}">
				<div class="img-async">
					<div class="image-box">
						<div class="box-fill"></div>
						<div class="box-content">
							<p>image loading...<br>{{ page.number }}</p>
						</div>
					</div>

					<img 
					data-lazysrc="{{ page.thumb | prepend: "/img/thumbs/" | prepend: site.baseurl }}" 
					alt="{{ item.alt }}"
					class="hidden"
					 />
				</div>
				</a>
			{% endif %}
		    {% endfor %}
		</div>
		
		{% for item in site.data.projectinfo.featuredthumbs %}
		<div class="img-wrapper">
			<a href="{{ item.url | prepend: site.baseurl}}">
			<img src="{{ item.thumb | prepend: "/img/thumbs/" | prepend: site.baseurl }}" alt="{{ item.alt }}" />
			</a>
		</div>
   		{% endfor %}
	</div>
	</div>
</div>
<script src="{{ "/js/projects.js" | prepend: site.baseurl }}"></script>