/* basic */
body {
	margin:0;
	padding:0;
	// font-family: 'Roboto Mono', monospace;
	font-family: 'Source Code Pro', monospace;
	font-weight:300;
}
a {
	color:black;
	text-decoration: none;
}
.hidden {
	display: none !important;
}

/*
.canvas-wrapper
 -- .top-wrapper
 -- -- .header
 -- -- .body
 -- canvas
.project-wrapper

*/

/* top layout */
.canvas-wrapper {
	position:relative;
	height: calc(100vh - 3.25em)!important;
	width:100%;
	// width: calc(100vw)!important;
	background:$background-color;
	border-bottom:1px solid #ccc;
}
.header {
	width:100%;
	height:5em;

	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	.logo {
		width:50px;
		height:50px;
		margin-left:1em;
		svg {
			width:100%;
			height:100%;
			.obj {
				fill:black;
				transition: fill 1.0s;
			}
			transition: transform 1.0s;
			&:hover {
				transform: rotate(360deg);
				.cls-1 {
					fill:$light-green;
				}
				.cls-2 {
					fill:$light-blue;
				}
				.cls-3 {
					fill:$light-red;
				}
			}
		}
	}
}


.top-wrapper {
	height:100%;
	width:100%;
	z-index:1;

	position:absolute;
	display: flex;
	flex-direction: column;

	p {
		line-height:1.5em;
		margin:20px auto;
		width:40em;
		font-size:14pt;	

		&:first-child {
			margin-top:20px;
		}
	}

	div.button {
		background:$background-color;
		border-radius:3px;
		box-shadow: 0 0 0 2px black;

		display:inline-block;
		padding:5px 10px;
		margin:0 auto;
		align-self:center;
		transition: all 0.5s;

		&:hover {
			border-radius:15px;
			box-shadow: 0 0 0 2px $light-blue;
			cursor:pointer;
		}
	}
	// top:0; left:0;
}

canvas {
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;

	position:absolute;
	// top:0; left:0;
}

/* top content */
.name {
	margin-left:20px;
	padding:0;
	height:100%;
	line-height:100%;
}

.anim-link {
	display:inline-block;
	position:relative;

	a:after, a:before {
		box-sizing: border-box;
	}
	a:before  {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: 0;
	  left: 0;
	  background: $light-green;
	  visibility: hidden;
	  border-radius: 5px;
	  transform: scaleX(0);
	  transition: .15s linear;
	}
	&:hover, &:focus {
		a {
			font-weight:400;
		}
		span.link-number  {
			color: #777;
		}
	}
	&:hover a:before,
	&:focus a:before {
	  visibility: visible;
	  transform: scaleX(1);
	}
	span.link-number {
		position:absolute;
		color:#ccc;
		transition: color .15s;
	}
}
.project-link .anim-link a {
	position:relative;
	left:3em;
}
.links {
	display:flex;
	height:100%;
	line-height:100%;
	margin-right:30px;
	div {
		position:relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-right:30px;
		&:last-child {
			margin-right:0;
		}
		.social-icons {
			flex-direction: row;
			font-size:18pt;
			a {
				margin-left:0.25em;
				&:first-child {
					margin-left:0;
				}
				span {
					transition: color 0.25s;	
				}
				&.link-github:hover span {
					color:#6e5494;
				}
				&.link-linkedin:hover span {
					color:#2867B2;
				}
				&.link-twitter:hover span {
					color:#00acee;
				}
				&.link-email:hover span {
					color:#d44638;
				}
			}
		}
		.anim-link a:before {
			bottom:-2px;
		}
		&:nth-of-type(4n+1) .anim-link a:before {
			background:$light-blue;
		}
		&:nth-of-type(4n+2) .anim-link a:before {
			background:$light-red;
		}
		&:nth-of-type(4n+3) .anim-link a:before {
			background:$light-green;
		}
		&:nth-of-type(4n+4) .anim-link a:before {
			background:$light-orange;
		}
	}

}

/* bottom half */
.project-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	max-height: calc(100vh - 9em) !important;
	margin:2em auto;
	div {
		display: flex;
		flex-direction: column;
	}
	&>div {
		&:first-of-type {
			margin-left:2em;
		}
		&:last-of-type {
			margin-right:2em;
		}
	}
	p {
		font-size:12pt;
		margin:.25em 0;
	}
	h2 {
		font-size:1.5em;
		margin:.25em 0;
		font-weight:300;
	}
}
.project-titles, .project-images {
    overflow-y: scroll;
	&::-webkit-scrollbar {
	  width: 7px;
	}
	&:hover::-webkit-scrollbar-thumb {
		background:#888;	
	}

	/* Track */
	&::-webkit-scrollbar-track {
	  background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
	  background: #ccc;
	  border-radius: 5px;
	}
	
}
.project-links {
	padding-right:1.5em;
	border-right:1px solid black;
	display: flex;
	flex-direction: column;
	div {
		position:relative;
		display:flex;
		flex-direction:row;
		justify-content:flex-end;
		&:nth-of-type(2n) .anim-link a:before {
			background:$light-purple;
		}
		&:nth-of-type(2n+1) .anim-link a:before {
			background:$light-orange;
		}
	}
	div .anim-link a {
		text-transform: uppercase;
	}
	div .anim-link a.bold {
		font-weight: 400;
	}
}
.project-titles {
	flex-grow:1;
	margin-left:1.5em;
	margin-right:3em;
	display:flex;
	flex-direction:column;

	div {
		display:flex;
		flex-direction:row;
		position:relative;
		text-align:left;
		margin-bottom:0.25em;
		&:nth-child(3n) .anim-link a:before {
			background:$light-green;
		}
		&:nth-child(3n+1) .anim-link a:before {
			background:$light-blue;
		}
		&:nth-child(3n+2) .anim-link a:before {
			background:$light-red;
		}
	}
}
.project-images {
	padding-right:1em;
	.img-wrapper {
		img {
			max-width:400px;
		}

		margin-bottom:1em;
		&:last-child {
			margin-bottom:0;
		}
	}
	.thumb-wrapper {
		.image-box {
			position:relative;
			display:flex;
			div {
				height:0;
				padding-top:75%;
				outline:1px solid black;
				outline-offset:-1px;
			}
			p {
				width:60%;
				margin:30% 20%;
				position:absolute;
				text-align:center;
			}
		}

		position:relative;
		.thumb-image {
			transition: opacity 0.25s;
			position:absolute;
			&.image-box {
				position:relative;
				opacity:1;
			}
			&.hide-image, &.image-box.hide-image {
				opacity:0;
			}
		}
	}
}



