/* basic */
body {
	position: relative;
	margin:0;
	padding:0;
	font-family: $font-sans;
	font-weight:300;
	color:$not-black;
	font-size:14pt;

	&.scrollbar {
	    overflow-y: auto;
		&::-webkit-scrollbar {
		  width: 4px;
		}
		&::-webkit-scrollbar-track {
		  background: $light-gray;
		}
		&::-webkit-scrollbar-thumb {
		  background: $gray;
		  border-radius: 5px;
		}
	}

	&::-webkit-scrollbar {
	  width: 0;
	}
	
}
.mono {
	font-family: $font-mono;
}
.light {
	font-weight: 300;
}
a {
	color:$not-black;
	text-decoration: none;
}
.hidden {
	display: none !important;
}
.show-small {
	display:none !important;
}

/*
.canvas-wrapper
 -- .top-wrapper
 -- -- .header
 -- -- .body
 -- canvas
.project-wrapper

*/

/* top layout */
.canvas-wrapper {
	position:relative;
	width:100%;
	// width: calc(100vw)!important;
	canvas {
		width:100%;
		height:100%;
		position:absolute;
		z-index:0;
	}
	&.index-canvas {
		background:$background-color;
		height: calc(90vh) !important;
		border-bottom:1px solid $border-color;
	}
	&.project-canvas {
		height:100vh;
		.top-wrapper {
			// overflow:scroll;
		}
		canvas {
			position:fixed;
		}
	}
}






.top-wrapper {
	width:100%;
	position:relative;
	z-index:1;

	display: flex;
	flex-direction: column;
	.index-canvas & {
		justify-content:space-between;
		height:calc(100% - #{$header-height}) !important;
	}

	&.home-wrapper .text{
		margin:0 auto;
		margin-top:-3em;
		width:40em;
		p {
			line-height:1.5em;
			margin:20px auto;

			&:first-child {
				margin-top:20px;
			}
		}
	}
	

	div.button {
		background:$background-color;
		border-radius:3px;
		box-shadow: 0 0 0 2px $not-black;

		display:inline-block;
		padding:5px 10px;
		align-self:center;
		transition: all 0.5s;

		margin-bottom:2em;
		text-transform: uppercase;
		// font-size:16pt;


		&:hover {
			border-radius:15px;
			// box-shadow: 0 0 0 2px $light-blue;
			cursor:pointer;
			animation: btnAnim 12s linear;
			animation-fill-mode: forwards;
		}
	}

}
/* project styles */
.body {
	width:42em;
	color:$not-black;
	// margin:2em 6em;
	margin:0 auto;
	font-weight:400;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	.body-content {
		h1 {
			position: relative;
			&:before {
				content:"#";
				font-weight:300;
				font-size:0.8em;
				color:$light-gray;
				position:absolute;
				top:0.2em;
				left:-0.9em;
			}
			&.h-nopre:before {
				content:"";
			}
			&.h-big {
				font-size:40pt;
			}
		}
		p {
			margin-left:0;
			margin-right:0;
			line-height:1.5em;

			a {
				color:$link-color;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.body-label {
		h1.label-title {
			margin:0.5em 0;
			font-family:$font-mono;
			font-weight: 300;
			font-size:30pt;

			position:relative;
			span {
				position:absolute;
				font-size:0.8em;
				left:-2em;
				color:$light-gray;
				bottom:0.1em;
			}
		}
		p.label-caption {
			font-weight:400;
			color:$caption-color;
			font-family:$font-sans;
			// width:24em;
			margin: 0;
		}
		padding-bottom:2em;
		border-bottom:1px solid $border-color;
	}
}

/* top content */
.name {
	margin-left:20px;
	padding:0;
	height:100%;
	line-height:100%;
}

.anim-link {
	display:inline-block;
	position:relative;

	a:after, a:before {
		box-sizing: border-box;
	}
	a:before  {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: 0;
	  left: 0;
	  background: $light-green;
	  visibility: hidden;
	  border-radius: 5px;
	  transform: scaleX(0);
	  transition: .15s linear;
	}
	&:hover, &:focus {
		a.bolden {
			font-weight:400;
		}
		span.link-number  {
			color: $gray;
		}
	}
	&:hover a:before,
	&:focus a:before {
	  visibility: visible;
	  transform: scaleX(1);
	}
	span.link-number {
		position:absolute;
		color:$light-gray;
		transition: color .15s;
	}
}

@import "header";
@import "projects";