/* basic */
body {
	margin:0;
	padding:0;
	font-family: $font-sans;
	font-weight:300;
	color:$not-black;

	&.scrollbar {
	    overflow-y: auto;
		&::-webkit-scrollbar {
		  width: 4px;
		}
		&::-webkit-scrollbar-track {
		  background: $light-gray;
		}
		&::-webkit-scrollbar-thumb {
		  background: $gray;
		  border-radius: 5px;
		}
	}

	&::-webkit-scrollbar {
	  width: 0;
	}
	
}
.mono {
	font-family: $font-mono;
}
.light {
	font-weight: 300;
}
a {
	color:$not-black;
	text-decoration: none;
}
.hidden {
	display: none !important;
}

/*
.canvas-wrapper
 -- .top-wrapper
 -- -- .header
 -- -- .body
 -- canvas
.project-wrapper

*/

/* top layout */
.canvas-wrapper {
	position:relative;
	width:100%;
	// width: calc(100vw)!important;
	canvas {
		width:100%;
		height:100%;
		position:absolute;
		z-index:0;
	}
	&.index-canvas {
		background:$background-color;
		height: calc(100vh - 3.25em)!important;
		border-bottom:1px solid $border-color;
	}
	&.project-canvas {
		height:100vh;
		.top-wrapper {
			// overflow:scroll;
		}
		canvas {
			position:fixed;
		}
	}
}



.header {
	width:100%;
	height:$header-height;
	text-transform: uppercase;

	position:relative;
	z-index:1;
	font-weight:300;

	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	&.filled {
		background:white;
	}
	.anim-link a {
		color:$gray;
		&:hover {
			color:$not-black;
		}
	}
}
.links {
	display:flex;
	height:100%;
	line-height:100%;
	margin-right:$header-margin;
	div {
		position:relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-right:30px;
		&:last-child {
			margin-right:0;
		}
		.social-icons {
			flex-direction: row;
			font-size:18pt;
			a {
				margin-left:0.25em;
				&:first-child {
					margin-left:0;
				}
				span {
					transition: color 0.25s;	
				}
				&.link-github:hover span {
					color:$color-github;
				}
				&.link-linkedin:hover span {
					color:$color-linkedin;
				}
				&.link-twitter:hover span {
					color:$color-twitter;
				}
				&.link-email:hover span {
					color:$color-email;
				}
			}
		}
		.anim-link a:before {
			bottom:-2px;
		}
		&:nth-of-type(4n+1) .anim-link a:before {
			background:$light-blue;
		}
		&:nth-of-type(4n+2) .anim-link a:before {
			background:$light-red;
		}
		&:nth-of-type(4n+3) .anim-link a:before {
			background:$light-green;
		}
		&:nth-of-type(4n+4) .anim-link a:before {
			background:$light-orange;
		}
	}

}
@keyframes btnAnim {
	0%   { box-shadow: 0 0 0 2px $not-black; }
	2%   { box-shadow: 0 0 0 2px $light-orange; }
	10%  { box-shadow: 0 0 0 2px $light-blue; }
	20%  { box-shadow: 0 0 0 2px $light-red; }
	30%  { box-shadow: 0 0 0 2px $light-green; }
	40%  { box-shadow: 0 0 0 2px $light-orange; }
	50%  { box-shadow: 0 0 0 2px $light-blue; }
	60%  { box-shadow: 0 0 0 2px $light-red; }
	70%  { box-shadow: 0 0 0 2px $light-green; }
	80%  { box-shadow: 0 0 0 2px $light-orange; }
	90%  { box-shadow: 0 0 0 2px $light-green; }
   100%  { box-shadow: 0 0 0 2px $light-blue; }
}

.top-wrapper {
	width:100%;
	position:relative;
	z-index:1;

	display: flex;
	flex-direction: column;

	&.home-wrapper p {
		line-height:1.5em;
		margin:20px auto;
		width:40em;
		font-size:14pt;	

		&:first-child {
			margin-top:20px;
		}
	}

	div.button {
		background:$background-color;
		border-radius:3px;
		box-shadow: 0 0 0 2px $not-black;

		display:inline-block;
		padding:5px 10px;
		margin:0 auto;
		align-self:center;
		transition: all 0.5s;


		&:hover {
			border-radius:15px;
			// box-shadow: 0 0 0 2px $light-blue;
			cursor:pointer;
			animation: btnAnim 12s linear;
			animation-fill-mode: forwards;
		}
	}

}
/* project styles */
.body {
	width:42em;
	color:$not-black;
	// margin:2em 6em;
	margin:0 auto;
	font-weight:400;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	.body-content {
		h1 {
			position: relative;
			&:before {
				content:"#";
				font-weight:300;
				font-size:0.8em;
				color:$light-gray;
				position:absolute;
				top:0.2em;
				left:-0.9em;
			}
			&.h-nopre:before {
				content:"";
			}
			&.h-big {
				font-size:40pt;
			}
		}
		p {
			margin-left:0;
			margin-right:0;
			font-size:14pt;
			line-height:1.5em;

			a {
				color:$link-color;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.body-label {
		h1.label-title {
			margin:0.5em 0;
			font-family:$font-mono;
			font-weight: 300;
			font-size:30pt;

			position:relative;
			span {
				position:absolute;
				font-size:0.8em;
				left:-2em;
				color:$light-gray;
				bottom:0.1em;
			}
		}
		p.label-caption {
			font-weight:400;
			color:$caption-color;
			font-family:$font-sans;
			font-size:14pt;
			// width:24em;
			margin: 0;
		}
		padding-bottom:2em;
		border-bottom:1px solid $border-color;
	}
}

/* top content */
.name {
	margin-left:20px;
	padding:0;
	height:100%;
	line-height:100%;
}

.anim-link {
	display:inline-block;
	position:relative;

	a:after, a:before {
		box-sizing: border-box;
	}
	a:before  {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  bottom: 0;
	  left: 0;
	  background: $light-green;
	  visibility: hidden;
	  border-radius: 5px;
	  transform: scaleX(0);
	  transition: .15s linear;
	}
	&:hover, &:focus {
		a.bolden {
			font-weight:400;
		}
		span.link-number  {
			color: $gray;
		}
	}
	&:hover a:before,
	&:focus a:before {
	  visibility: visible;
	  transform: scaleX(1);
	}
	span.link-number {
		position:absolute;
		color:$light-gray;
		transition: color .15s;
	}
}
.project-link .anim-link a {
	position:relative;
	left:3em;
}


/* bottom half */
.project-wrapper {
	font-family: $font-mono;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	max-height: calc(100vh - 9em) !important;
	margin:2em auto;
	div {
		display: flex;
		flex-direction: column;
	}
	&>div {
		&:first-of-type {
			margin-left:2em;
		}
		&:last-of-type {
			margin-right:2em;
		}
	}
	p {
		font-size:12pt;
		margin:.25em 0;
	}
	h2 {
		font-size:1.5em;
		margin:.25em 0;
		font-weight:300;
	}
}
.project-titles, .project-images {
    overflow-y: auto;
	&::-webkit-scrollbar {
	  width: 7px;
	}
	&:hover::-webkit-scrollbar-thumb {
		background:$gray;	
	}

	/* Track */
	&::-webkit-scrollbar-track {
	  background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
	  background: $light-gray;
	  border-radius: 5px;
	}
	
}
.project-links {
	padding-right:1.5em;
	border-right:1px solid $gray;
	display: flex;
	flex-direction: column;
	div {
		position:relative;
		display:flex;
		flex-direction:row;
		justify-content:flex-end;
		&:nth-of-type(2n) .anim-link a:before {
			background:$light-purple;
		}
		&:nth-of-type(2n+1) .anim-link a:before {
			background:$light-orange;
		}
	}
	div .anim-link a {
		text-transform: uppercase;
	}
	div .anim-link a.bold {
		font-weight: 400;
	}
}
.project-titles {
	flex-grow:1;
	margin-left:1.5em;
	margin-right:3em;
	display:flex;
	flex-direction:column;

	div {
		display:flex;
		flex-direction:row;
		position:relative;
		text-align:left;
		margin-bottom:0.25em;
		&:nth-child(3n) .anim-link a:before {
			background:$light-green;
		}
		&:nth-child(3n+1) .anim-link a:before {
			background:$light-blue;
		}
		&:nth-child(3n+2) .anim-link a:before {
			background:$light-red;
		}
	}
}
.project-images {
	padding-right:1em;
	.img-wrapper {
		img {
			max-width:400px;
			transition: filter 0.25s;
			&:hover {
				filter:brightness(0.8);
			}
		}

		margin-bottom:1em;
		&:last-child {
			margin-bottom:0;
		}
	}
	.thumb-wrapper {
		.image-box {
			position:relative;
			display:flex;
			div {
				background:$background-color-2;
				height:0;
				padding-top:75%;
				outline:1px solid $gray;
				outline-offset:-1px;
			}
			p {
				width:60%;
				margin:30% 20%;
				position:absolute;
				text-align:center;
			}
		}
		&:hover img {
			filter:brightness(0.8);
		}

		position:relative;
		.thumb-image {
			transition: opacity 0.25s;
			position:absolute;
			&.image-box {
				position:relative;
				opacity:1;
			}
			&.hide-image, &.image-box.hide-image {
				opacity:0;
			}
		}
	}
}



@import "logo";