.header {
	width:100%;
	height:$header-height;
	text-transform: uppercase;

	position:relative;
	z-index:1;
	font-weight:300;

	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	&.filled {
		background:white;
	}
	.anim-link a {
		color:$gray;
		&:hover {
			color:$not-black;
		}
	}
}
.header-links {
	display:flex;
	height:100%;
	line-height:100%;
	margin-right:$header-margin;
	div {
		position:relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-right:30px;
		&:last-child {
			margin-right:0;
		}
		.social-icons {
			flex-direction: row;
			font-size:18pt;
			a {
				margin-left:0.25em;
				&:first-child {
					margin-left:0;
				}
				span {
					transition: color 0.25s;	
				}
				&.link-github:hover span {
					color:$color-github !important;
				}
				&.link-linkedin:hover span {
					color:$color-linkedin !important;
				}
				&.link-twitter:hover span {
					color:$color-twitter !important;
				}
				&.link-email:hover span {
					color:$color-email !important;
				}
			}
		}
		.anim-link a:before {
			bottom:-2px;
		}
		&:nth-of-type(4n+1) .anim-link a:before {
			background:$light-blue;
		}
		&:nth-of-type(4n+2) .anim-link a:before {
			background:$light-red;
		}
		&:nth-of-type(4n+3) .anim-link a:before {
			background:$light-green;
		}
		&:nth-of-type(4n+4) .anim-link a:before {
			background:$light-orange;
		}
	}

}
@keyframes btnAnim {
	0%   {color: $not-black;	 box-shadow: 0 0 0 2px $not-black; }
	2%   {color: $light-orange;	 box-shadow: 0 0 0 2px $light-orange; }
	10%  {color: $light-blue;	 box-shadow: 0 0 0 2px $light-blue; }
	20%  {color: $light-red;	 box-shadow: 0 0 0 2px $light-red; }
	30%  {color: $light-green;	 box-shadow: 0 0 0 2px $light-green; }
	40%  {color: $light-orange;	 box-shadow: 0 0 0 2px $light-orange; }
	50%  {color: $light-blue;	 box-shadow: 0 0 0 2px $light-blue; }
	60%  {color: $light-red;	 box-shadow: 0 0 0 2px $light-red; }
	70%  {color: $light-green;	 box-shadow: 0 0 0 2px $light-green; }
	80%  {color: $light-orange;	 box-shadow: 0 0 0 2px $light-orange; }
	90%  {color: $light-green;	 box-shadow: 0 0 0 2px $light-green; }
   100%  {color: $light-blue;	 box-shadow: 0 0 0 2px $light-blue; }
}

.hamburger {
	margin-right:$header-margin;
	width:38px;
	height:36px;

	.hamburger-icon {
		height:100%;
		width:100%;

		display:flex;
		flex-direction:column;
		justify-content:space-between;

		position:relative;
		.hb-row {
			display:block;
			width:100%;
			height:7px;
			border-radius:7px;
			background:$not-black;
		}
	}
}
#modal {
	display:none;
	opacity:0;
	top:-1000em;
	&:target {
		display:block;
		opacity:1;
		top:0;
	}

	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
	left:0;
	z-index:100;
	.modal-bg, .modal-content {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	.modal-bg {
		content:"";
		background:$not-black;
		opacity:0.95;
		z-index:99;
	}
	.modal-x {
		position:absolute;
		top:0; right:10px;
		font-size:40pt;
		font-weight:300;
		z-index:500;
		opacity: 1;
		color:white !important;
	}
	.modal-content {
		display:flex;
		flex-direction:column;
		align-items:center;
		text-align:center;
		justify-content:space-between;

		.modal-header {
			h1 {font-weight:300;}
			text-transform: uppercase;
			margin-top:1em;

			&::after {
				content:"";
				width:80%;
				height:0;
				border-bottom:1px solid white;
				display:block;
				margin: -1em auto 1em auto;
			}
		}
		z-index:101;

		color:white;
		font-size:24pt;
		.modal-links .anim-link a, .modal-social .social-icons a {
			color:white;
		}
		.modal-links > div {
			margin-bottom:0.5em;
		}
		.modal-social {
			font-size:36pt;
			margin-bottom:2em;
		}

	}
}
@import "logo";