.logo {
	margin-left: $header-margin;

	width:$logo-dim;
	height:$logo-dim;
	svg {
		width:100%;
		height:100%;
		.obj {
			fill:$not-black;
			transition: fill 1.0s;
		}
		transition: transform 1.0s;
		&:hover {
			transform: rotate(360deg);
			.cls-2 {
				fill:$light-red;
			}
			.cls-1 {
				fill:$light-blue;
			}
			.cls-3 {
				fill:$light-orange;
			}
		}
	}
}