/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 610px) {
	.project-images.project-images { display:none !important;}
	.top-wrapper.home-wrapper .text {
		font-size:12pt;
		width:80%;
	}
	.project-wrapper {
		font-size:12pt;	
	}
	.hide-small {
		display: none !important;
	}
	.project-tabs {
		display: flex !important;
	}
	.header-links {
		display: none !important;
	}
	.hamburger {
		display: block !important;
	}
	.project-titles {
		border-top:1px solid $border-color;
		padding-top:0.5em;
		padding-bottom:1em;
	}
	.project-links {
		display: none !important;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 610px) {
	.project-link .anim-link {
		.link-number {
			display:inline-block;
		}
		a {
			left:3em;
		}
	}
	.project-images.project-images { display:none !important;}
	
	.top-wrapper.home-wrapper .text {
		font-size:12pt;
		width:75%;
	}
	.project-wrapper {
		font-size:12pt;	
	}
	.hamburger {
		display:none !important;
	}
	.project-tabs {
		display:none !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.img-wrapper img, .img-wrapper .image-box { width:240px;}
	.project-link .anim-link {
		.link-number {
			display:none;
		}
		a {
			left:0;
		}
	}
	.project-images.project-images { display:block !important; }

}
@media only screen and (min-width: 860px) {
	.project-link .anim-link {
		.link-number {
			display:inline-block;
		}
		a {
			left:3em;
		}
	}
}
@media only screen and (min-width: 860px) {
	.img-wrapper img, .img-wrapper .image-box { width:300px;}
	.top-wrapper.home-wrapper .text {
		font-size:14pt;
		width:36em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.img-wrapper img, .img-wrapper .image-box { width:400px;}
	.project-wrapper {
		font-size:14pt;
	}
	.top-wrapper.home-wrapper .text {
		width:40em;
	}

	.canvas-wrapper.index-canvas.index-canvas {
		max-height: calc(70vw) !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}