$background-color: #f5f2e6;
$background-color-2: #f0e7f3;

$light-red: #ef476f;
$light-blue: #1eb8e8;
$light-orange: #ffd166;

$light-green:#06d69e;
$light-purple: #8b83d3;


$cv-text: #d63846; 

$header-height: 4em;
$header-margin: 0.5em;

$font-mono: 'Source Code Pro', monospace;
$font-sans: 'Open Sans', sans-serif;

$border-color: #ccc;
$caption-color: #666;
$link-color: #4d91ff;

$not-black: #011627;
$light-gray: #ccc;
$gray: #6e7c87;

$color-github: #6e5494;
$color-linkedin: #2867B2;
$color-twitter: #00acee;
$color-email: #d44638;

$logo-dim: 48px;