$background-color: #f3f3e3;
$background-color-2: #f0e7f3;

$light-green:#9CF5A6;
$light-red: #f59c9f;
$light-blue: #9cbdf5;
$light-orange: #ffc266;
$light-purple: #dc9cf5;

$bright-blue: #009FDF;

$header-height: 4em;
$header-margin: 0.5em;

$font-mono: 'Source Code Pro', monospace;
$font-sans: 'Open Sans', sans-serif;

$border-color: #ccc;
$caption-color: #666;
$link-color: #4d91ff;

$not-black: #181818;
$light-gray: #ccc;
$gray: #888;

$color-github: #6e5494;
$color-linkedin: #2867B2;
$color-twitter: #00acee;
$color-email: #d44638;