---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ "/css/cv.css" | prepend: site.baseurl }}">

</head>
<body>
	<div class="logo-head">{% include logo.html %}</div>
	<div class="wrapper">
		<div class="container" id="printarea">

			<div class="header">
				<h1>Alan Luo</h1>
				<h2>Creative Coder and Full-Stack Developer</h2>
			</div>
		</div>
	</div>
</body>
</html>