---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/css/cv.css" | prepend: site.baseurl }}">
</head>
<body>
	<div class="logo-head">{% include logo.html %}</div>
	<div class="wrapper">
		<div class="container" id="printarea">
			<div class="content">
				<div class="header">
					<div class="left">
						<h1>Alan Luo</h1>
						<h2>Creative Coder &amp; Full-Stack Developer</h2>
						<p>me@alanluo.com | Columbia '23 | Cambridge, MA</p>
					</div>
					<div class="right">
						<div>
							<p>alanluo.com</p>
							<p>github.com/alan-luo</p>
							<p>codepen.io/alanluo</p>
						</div>
						<div>
							<p>twitter.com/alanluo_O</p>
							<p>linkedin.com/in/alan-luo</p>
							<p>upwork.com/fl/alanluocc</p>
						</div>
					</div>
				</div>
				<div class="section">
					<h2>Personal Statement</h2>
					<p>I’m a part-time developer, part-time student, and full-time maker with a passion for learning and creating awesome projects. I specialize in interdisciplinary work that bridges creativity and code. I see technology as a tool to drive forward global education and research. I believe that communication and clear language is the foundation of all quality work.</p>
				</div>
				<div class="section">
					<h2>Professional Experience</h2>
					<div class="label">
						<h3>Columbia Graphics and User Interfaces Lab | Research Intern</h3>
						<p>2019 - now</p>
					</div>
					<p>Developing applied technologies for augmented reality and virtual reality with Prof. Steven Feiner. Currently working on project to use augmented reality as a means of improving training for dental students.</p>

					<div class="label">
						<h3>Countable Web Productions | WebGL &amp; Front-End Developer</h3>
						<p>February - June 2019</p>
					</div>
					<p>Worked as a contractor and developer for a variety of projects, with an emphasis on open-source company organization and rapid prototyping. Created a VR Chatbot for lead conversion, and built the Smart Inquirer an AI-based assistant for analyzing legal documents which is entering deployment. Used Scrum / OKRs internally for project management.</p>

					<div class="label">
						<h3>Visual Analytics Lab at Tufts | Research Intern</h3>
						<p>June - August 2017</p>
					</div>
					<p>Created interactive interface for data labelling and feature engineering. Wrote paper and poster. Created Javascript library for running Amazon Mechanical Turk experiments. Later, presented to school about research work.</p>

					<div class="label">
						<h3>Project: Little Planet Procedural | Creator</h3>
						<p>March 2016</p>
					</div>
					<p>Created page to generate random artistic interpretations of alien planet landscapes. I used Javascript and HTML5 Canvas. The project is open-source on Github (<a href="http://github.com/alan-luo/planetprocedural">github.com/alan-luo/planetprocedural</a>), and has <b>8000 views</b>, <b>68 stars</b>, and <b>5 forks</b>. I also wrote 40 pages of documentation to explain the processes and algorithms that power the page.</p>
				</div>
				<div class="section">
					<h2>Education</h2>
					<div class="label">
						<h3>Columbia University in the City of New York | BSE, Computer Science</h3>
						<p>2019 - 2023</p>
					</div>
					<p><b>GPA</b>: 4.06/4.00. <a href="https://engineering.columbia.edu/class-2023-egleston-scholars">Egleston Scholar</a> - Columbia’s most competitive engineering scholar scholarship (<1% acceptance rate)</p>
					<p><b>Clubs:</b> Application Development Initiative (committee member), Columbia Creative Coding Club (founder) CU Records (recording engineer), Jazz Ensemble (piano and guitar), Musical Mentors (guitar teacher)</p>
					<p><b>Teaching</b>: Programming for Social Impact (TA, Fall 2019, Spring 2020)</p>
				</div>
				<div class="section">
					<h2>Skills</h2>
				</div>
				<div class="section">
					<h2>Et Cetera</h2>
				</div>
			</div>
		</div>
	</div>
</body>
</html>