---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="canvas-wrapper">
		<canvas id="head-canvas"></canvas>
		<div class="top-wrapper">
			{% include header.html %}

			<p>Hello! I'm Alan Luo.</p>
			<p>I'm a creative coder and student.</p>
			<p>But in my mind, I'm a game designer. I believe that the essence of play is fundamental to the human experience. I try to bring it into everything I do.</p>
			<p>I have a lot of interests and questionable perspectives. To learn more about them: Experience my buffoonery through my <a href="#projects">projects</a> (below), investigate my gray matter through my blog, or scrutinize my private life on Twitter. Or even better, press the button below.</p>

			<div class="button">Be playful.</div>
		</div>
	</div>

	{% include project-nav.html %}
	

	<script src="{{ "/js/game.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/canvas.js" | prepend: site.baseurl }}"></script>
	<script>
		function loop() {
			loopGame();
			loopCanvas();
			requestAnimationFrame(loop);
		}
		loop();
	</script>

</body>
</html>