---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
<body class="scrollbar">
	<div class="canvas-wrapper index-canvas">
		<canvas id="head-canvas"></canvas>
		{% include header.html %}
		<div class="top-wrapper mono home-wrapper">
			{{ content }}

			<div class="button">Be playful.</div>
		</div>
	</div>

	{% include project-nav.html %}
	

	<script src="{{ "/js/game.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/canvas.js" | prepend: site.baseurl }}"></script>
	<script>
		function loop() {
			loopGame();
			loopCanvas();
			requestAnimationFrame(loop);
		}
		loop();
	</script>

</body>
</html>