---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	<style>
		.canvas-wrapper {
			background:{{ page.canvas-background }} !important;
		}
	</style>
</head>
<body>
	{% include modal.html %}
	<div class="canvas-wrapper project-canvas">
		<canvas id="head-canvas"></canvas>
		<div class="top-wrapper">
			{% include header.html %}
			<div class="body">
				<div class="body-label">
					<h1 class="label-title"><span>{{ page.number }}</span>{{ page.title }}</h1>
					<p class="label-caption">{{ page.caption }}</p>
				</div>
				<div class="body-content">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
	

	
	<script>
		canvasParams = { 
			scroll: true,
			fillColor: "#ddd",
		};
	</script>
	<script src="{{ "/js/canvas.js" | prepend: site.baseurl }}"></script>
	<script>
		function loop() {
			loopCanvas();
			requestAnimationFrame(loop);
		}
		loop();
	</script>

</body>
</html>