---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	<style>
		.canvas-wrapper {
			background:{{ page.canvas-background }} !important;
		}
		
	</style>
</head>
<body>
	<div class="canvas-wrapper project-canvas">
		<canvas id="head-canvas"></canvas>
		<div class="top-wrapper">
			{% include header.html %}
			<div class="top-label">
				<h1 class="top-title"><span>{{ page.number }}</span>{{ page.title }}</h1>
				<p class="top-caption">{{ page.caption }}</p>
			</div>
			<div class="body">
				{{ content }}
			</div>
		</div>
	</div>
	

	
	<script>
		canvasParams = { 
			numDots:80,
			scroll: true,
			fillColor: "#ddd",
		};
	</script>
	<script src="{{ "/js/canvas.js" | prepend: site.baseurl }}"></script>
	<script>
		function loop() {
			loopCanvas();
			requestAnimationFrame(loop);
		}
		loop();
	</script>

</body>
</html>